*{
  box-sizing: border-box;
}

.body {
  margin: 0px;
}

.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://as2.ftcdn.net/v2/jpg/05/16/88/47/1000_F_516884725_V0Wc0QbN4cb0WAuRrwZlnEmPJ0ZhusuK.jpg");
  background-size: cover;
  min-height: 100vh;
  height: auto;
  width: auto;
  padding-left: 150px;
  padding-right: 150px;
}

.msg-cont{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 100px;
  width: auto;
  max-width: 500px;
}
.listCont{
  color: white;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: auto;
  max-width: 500px;
}
li{
  margin-bottom: 5px;
}
.heading{
  font-size: 40px;
  color: white;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 0px;
}
.heading2 {
  font-size: medium;
  color: white;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 400px;
}
.btnHeading2 {
  font-size: medium;
  color: white;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 400px;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.btn {
  background-color: red;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border-width: 0;
  margin-top: 10px;
}
.contactBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: fit-content;
  padding: 8px;
  border-radius: 5px;
  color: white;
  border-width: 0;
}
.videoCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video{
  border-radius: 10px;
  border-width: 0px;
  width: auto;
  max-width: 500px;
  height: 300px;
}
.buttons-cont2{
  display: none;
}
.card{
  display: none;
}
.span1{
  color: gold;
}


@media screen and (max-width: 750px){
  .heading{
    display: none;
  }
  .listCont{
    display: none;
  }
  .buttons-cont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttons-cont{
    display: none;
  }
  .msg-cont{
    width: auto;
  }
  .bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://as2.ftcdn.net/v2/jpg/05/16/88/47/1000_F_516884725_V0Wc0QbN4cb0WAuRrwZlnEmPJ0ZhusuK.jpg");
    min-height: 100vh;
    width: auto;
    padding-left: 150px;
    padding-right: 150px;
  }
  .video{
    border-radius: 10px;
    border-width: 0px;
    width: auto;
    max-width: 375px;
    height: 200px;
  }
  .heading2 {
    font-size: medium;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    min-width: 250px;
    margin-left: 30px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .btnHeading {
    font-size: medium;
    color: white;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .card{
    display: block;
    background-color: red;
    background-size: cover;
    width: 100vw;
    background-size: cover;
    height: fit-content;
    padding: 10px;
  }
  .h1 {
    color: white;
  }
  .cardHeading {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    width: auto;
    max-width: 300px;
  }
  .p1{
    color: whitesmoke;
    font-size: 16px;
  }
  .span2{
    font-weight: bolder;
  }
}